sveditor/plugins/net.sf.sveditor.svt.core/svt_schema/svt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/svt" xmlns:tns="http://www.example.org/svt" elementFormDefault="qualified">


    

    <element name="template" type="string"></element>

    <complexType name="sv_templateType"></complexType>

    <element name="sv_template" type="tns:sv_templateType"></element>

    <complexType name="templateType"></complexType>

    <complexType name="categoryType"></complexType>

    <element name="category" type="tns:categoryType"></element>
</schema>